body,html {
    height: 100%;
}
 /* --------- Background  */
.page-holder {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover !important;
}


/* --------- index text  */
.hero {
    padding-top: 10%;
}

/* --------- reservation text  */
.padding {
    padding-top: 2.5%;
}

div p { 
    font-weight: bold;
    font-weight: 500;
}

.lead {
    font-weight: 500;
}

/* --------- nav bar and body */
body {
    background-color: #F9FAFC;
}

.navbar-custom {
    background-color: #9e6459;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #9e6459;
}

.nav-item {
    font-size: 1.2rem;
}

.red-o {
    color: #9e6459;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #687f92;;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}
/* --------- btn styling */
.btn-signup {
    background-color: #9e6459;
    color: rgb(255, 255, 255);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #343434;
    color: #9e6459;
}

.link {
    color: #9e6459;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #343434;
    text-decoration: underline;
}

.btn-like {
    color: #343434;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #343434;
    background: transparent;
    border: none;
}




.heading {
    padding-top: 2.5%;
}


i {
    color: #9e6459;
}

i:hover,
i:active {
    background-color: #343434;
    color: #9e6459; }



/* --------- menu styling */
.img-food {
    max-width: 700px;
    max-height: 400px;
}

.max-char {
    max-width: 70ch;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 400;
}

.contact-info {
    margin-top: 10px;
}


/* --------- Styling phone sizes @max width 600px */