{% extends 'base.html' %}

{% block content %}
  <h2>Your Reservations</h2>

  <div class="container">
    <div class="row">
      {% for reservation in reservations %}
  <div class="card-body">
    <h5 class="card-title">{{ reservation.name }}</h5>
    <p class="card-text">Phone: {{ reservation.phone }}</p>
    <p class="card-text">Date: {{ reservation.date }}</p>
    {% for time in reservation.TIME_LIST %}
      {% if reservation.time == time.0 %}
        <p class="card-text">Time: {{ time.1 }}</p>
      {% endif %}
    {% endfor %}
    <p class="card-text">Guests: {{ reservation.number_of_guests }}</p>
    <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary">Edit Reservation</a>
  </div>
{% endfor %}
    </div>
  </div>
{% endblock content %}