{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<!------  Background    -------->
<div style="background: url(https://res.cloudinary.com/saja/image/upload/v1661762460/static/img/background3.3791b41887af.jpg)" class="jumbotron page-holder bg-cover">

    <div class="container py-5">
        <!-- List purpose -->
        <header class="text-center">
            <h1 class="display-4">Reservation List</h1>
            <p class="lead mb-0 font-italic">Collection of all reservations</p>
        </header>
    
        <div class="row py-5">
            <div class="col-lg-7 mx-auto">
    
                <div class="card shadow mb-4" >
                    <div class="card-body p-5 bg-dark text-white" style="border: 2px solid #a5a0a0;">
                        {% for data in dataset %}
                        <h4 class="mb-4" >Reservation</h4>
                        <ul class="list-bullets" >
                            <li class="mb-2">Username: {{ data.user }}</li>
                            <li class="mb-2">Telephone Number: {{ data.phone }}</li>
                            <li class="mb-2">Date: {{ data.phone }}</li>
                            <li class="mb-2">Time: {{ data.time }}</li>
                            <li class="mb-2">Number of Guests: {{ data.number_of_guests }}</li>
                            <li class="mb-2">Seats: {{ data.seats }}</li>
                            <a href="{% url 'delete' data.pk %}">
                                <button class="btn btn-signup">Delete</button>
                            </a>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
 
{%endblock%}