{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<!------  Background    -------->
<div style="background: url(/static/img/background3.jpg)" class="page-holder bg-cover">


    <div class="container-fluid">
        <h1 class="d-flex flex-column justify-content-center align-items-center heading display-2">Our Specials:</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
                {% for menu in menu_list %}
                <h3 class="name-item-mainmenu txt21 padding display-5 bold">{{ menu.nameOfFood }}</h3>
                <h3 class="card-title max-char text-center bold">Food description:</h3>
                <p class="card-title max-char lead">{{ menu.details }}</p>
                <p class="card-title bold lead">Available meat: {{ menu.meat }}</p>
                <p class="card-title bold lead">Allergies: {{ menu.allergy }}</p>
                <p class="card-title bold lead">Price: {{ menu.price }}$</p>
                <img class="img-food" src="{{ menu.image.url }}" alt="food">
                {% endfor %}
                        </div>
                    </div>
                </div>


{%endblock%}