{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<!------  Background    -------->
<div style="background: url(/static/img/background3.jpg)" class="page-holder bg-cover">


    <div class="container-fluid">
        <h1 class="d-flex flex-column justify-content-center align-items-center heading">Our Specials:</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
                {% for menu in menu_list %}
                <h2 class="name-item-mainmenu txt21 padding">{{ menu.nameOfFood }}</h2>
                <p class="card-title max-char bold text-center">Food description:</p>
                <p class="card-title max-char">{{ menu.details }}</p>
                <p class="card-title bold">Available meat: {{ menu.meat }}</p>
                <p class="card-title bold">Allergies: {{ menu.allergy }}</p>
                <p class="card-title bold">Price: {{ menu.price }}$</p>
                <img class="img-food" src="{{ menu.image.url }}" alt="food">
                {% endfor %}
                        </div>
                    </div>
                </div>


{%endblock%}