{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <h2>
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}</h2>

        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <h3>Welcome to our reservations page</h3>
                <h5>Please select how many seats you'd like</h5>
                {% if user.is_authenticated %}

                <form method="post" style="margin-top: 1.3em;">
                    {{ reservation_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-drk">Submit</button>               
                </form>
                {% endif %}

            </div>
        </div>
    </div>

</div>

{%endblock%}