{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}

<!------  Background    -------->
<div style="background: url(/static/img/background.jpg)" class="page-holder bg-cover">

<!------  Login / signup    -------->
    <div class="main-wrap">
    <div class="cover_1 cover_sm">
        <div class="container">
            <div class="row align-items-center justify-content-center " id="bg">
            <div class="col-md-7" data-aos="fade-up">
                <h2 class="heading">
                    {% if user.is_authenticated %}
                    Welcome back {{ user.username }}. And thanks for logging in.
                {% else %}
                    Welcome and please <a class="link" href="/accounts/login/">sign in</a> If you already have an account. If not, please <a class="link" href="/accounts/signup/">sign up</a>
                {% endif %}</h2>
                </div>
            </div>
        </div>
        </div>
    </div> 
    <!-- reservation text  -->
    <div class="section" data-aos="fade-up">
        <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-md-4  text-center">
            <h3 class="mb-4">Welcome to our reservations page</h3>
            <p class="lead">Please fill out the reservation form and write the name you'd like to reserve the table on.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 p-2 form-wrap">

            {% comment %}

            {% endcomment %}
        <!------  Reservation Form    -------->
            <form action="" method="POST">
                {% bootstrap_form form %}
                {% csrf_token %}
                    <button type="submit" class="btn btn-signup">Reserve A Table</button>
                    
            </form>


            </div>
        </div>
        </div>
    </div> 
    <!-- Customer Reviews  -->

    <div class="map-wrap" id="map"  data-aos="fade"></div>

    <div class="section" data-aos="fade">
        <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center"  data-aos="fade-up">
            <h2 class="mb-2">Customer's Reviews:</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center" data-aos="fade-up">
            <div class="col-md-8">
            <div class="owl-carousel home-slider-loop-false">

            
                <div class="item">
                <blockquote class="testimonial">
                    <p>Best Chicken Tandory I`ve ever tested!</p>
                    <h5>Max Andrè </h5>
                    <p>Painter</p>
                </blockquote>
                <p>------------------------------</p>
                </div>
                <div class="item">
                <blockquote class="testimonial">
                    <p>Can't wait to try the Tandori again!</p>
                    <h5>Geen Harrison</h5>
                    <p>Carpenter</p>
                </blockquote>
                <p>------------------------------</p>
                </div>
                <div class="item">
                <blockquote class="testimonial">
                    <p>Perfect amount of spice!</p>
                    <h5>Dan Ramovich</h5>
                    <p>Hairdresser</p>
                    </div>
                </blockquote>
                <p>------------------------------</p>
                </div>
            </div>
            </div>
        </div>
        </div>  
    </div>



    </div>

{% endblock %}